<!DOCTYPE html>
<html>
<head>
    <!--- load django staticfiles =====================================================================
    =================================================================================================== -->
    {% load static %}
    <!-- ==============================================================================================
    =================================================================================================== -->

    <!-- favicons =====================================================================================
    =================================================================================================== -->
    <link rel="shortcut icon" href="{% static "/images/iu_logo.png" %}" type="image/x-icon">
    <link rel="icon" href="{% static "/images/iu_logo.png" %}" type="image/x-icon">
    <!-- ==============================================================================================
    =================================================================================================== -->

</head>

<body>
    <!-- Webpage Objects ==============================================================================
    =================================================================================================== -->
    <h1>DynaSWAP Secure Facial Authentication</h1>
    <h2 style="font-weight: bolder; color: rgb(255, 2, 51)">Authentication Unsuccessful</h2>
    <h3>Rejected as <span id="userName">{{userName}}</span> with facial similarity: <span id="confidence">{{confidence}}</span></h3>
    <p></p>

    <button id="homeButton">Home</button>
    <button id="authenticateButton">Authenticate</button>
    <!-- ==============================================================================================
    =================================================================================================== -->


    <!-- Java Script ==================================================================================
    =================================================================================================== -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- ==============================================================================================
    =================================================================================================== -->

    <script>
    
    ////////////////////////////////////////////////////////////////////////////////////
    //////  Document Startup //////////////////////////////////////////////////////////
    ////////////////////////////////////////////////////////////////////////////////////
    $(document).ready(function() {
        $("#homeButton").click(function() {
            window.location.href = "/";
        });
        $("#authenticateButton").click(function() {
            window.location.href = "/authenticate_page?userName={{ userName }}&roleId={{ roleId }}";
        });
    })

    </script> 
</body>
</html>